USE [master]
GO
/****** Object:  Database [projeBitirmeDB]    Script Date: 22.05.2021 22:30:04 ******/
CREATE DATABASE [projeBitirmeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'projeBitirmeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\projeBitirmeDB.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'projeBitirmeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\projeBitirmeDB_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [projeBitirmeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [projeBitirmeDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[Adminid] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAd] [varchar](30) NULL,
	[Sifre] [varchar](30) NULL,
	[Yetki] [char](1) NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[Adminid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carilers]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carilers](
	[Cariid] [int] IDENTITY(1,1) NOT NULL,
	[CariAd] [varchar](30) NULL,
	[CariSoyad] [varchar](30) NOT NULL,
	[CariSehir] [varchar](15) NULL,
	[Mail] [varchar](50) NULL,
	[Durum] [bit] NOT NULL,
	[CariSifre] [varchar](25) NULL,
 CONSTRAINT [PK_dbo.Carilers] PRIMARY KEY CLUSTERED 
(
	[Cariid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departmen]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departmen](
	[Departmanid] [int] IDENTITY(1,1) NOT NULL,
	[DepartmanAd] [varchar](30) NULL,
	[Durum] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Departmen] PRIMARY KEY CLUSTERED 
(
	[Departmanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detays]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detays](
	[DetayID] [int] IDENTITY(1,1) NOT NULL,
	[urunad] [varchar](30) NULL,
	[urunbilgi] [varchar](2000) NULL,
 CONSTRAINT [PK_dbo.Detays] PRIMARY KEY CLUSTERED 
(
	[DetayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FaturaKalems]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FaturaKalems](
	[FaturaKalemid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Miktar] [int] NOT NULL,
	[BirimFiyat] [decimal](18, 2) NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
	[Faturaid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FaturaKalems] PRIMARY KEY CLUSTERED 
(
	[FaturaKalemid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faturalars]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faturalars](
	[Faturaid] [int] IDENTITY(1,1) NOT NULL,
	[FaturaSeriNo] [char](1) NULL,
	[FaturaSiraNo] [varchar](10) NULL,
	[Tarih] [datetime] NOT NULL,
	[VergiDairesi] [varchar](60) NULL,
	[Saat] [char](8) NULL,
	[TeslimEden] [varchar](30) NULL,
	[TeslimAlan] [varchar](30) NULL,
	[Toplam] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Faturalars] PRIMARY KEY CLUSTERED 
(
	[Faturaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giders]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giders](
	[Giderid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](100) NULL,
	[Tarih] [datetime] NOT NULL,
	[Tutar] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Giders] PRIMARY KEY CLUSTERED 
(
	[Giderid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoDetays]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoDetays](
	[KargoDetayid] [int] IDENTITY(1,1) NOT NULL,
	[Aciklama] [varchar](300) NULL,
	[TakipKodu] [varchar](15) NULL,
	[Personel] [varchar](20) NULL,
	[Alici] [varchar](30) NULL,
	[Tarih] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoDetays] PRIMARY KEY CLUSTERED 
(
	[KargoDetayid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KargoTakips]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KargoTakips](
	[KargoTakipid] [int] IDENTITY(1,1) NOT NULL,
	[TakipKodu] [varchar](15) NULL,
	[Aciklama] [varchar](100) NULL,
	[TarihZaman] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.KargoTakips] PRIMARY KEY CLUSTERED 
(
	[KargoTakipid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAd] [varchar](30) NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personels]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personels](
	[Personelid] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAd] [varchar](30) NULL,
	[PersonelSoyad] [varchar](30) NULL,
	[PersonelGorsel] [varchar](250) NULL,
	[Departmanid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Personels] PRIMARY KEY CLUSTERED 
(
	[Personelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SatisHarekets]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SatisHarekets](
	[Satisid] [int] IDENTITY(1,1) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Adet] [int] NOT NULL,
	[Fiyat] [decimal](18, 2) NOT NULL,
	[ToplamTutar] [decimal](18, 2) NOT NULL,
	[Cariid] [int] NOT NULL,
	[Personelid] [int] NOT NULL,
	[Urunid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SatisHarekets] PRIMARY KEY CLUSTERED 
(
	[Satisid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLO1]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLO1](
	[STOK] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Uruns]    Script Date: 22.05.2021 22:30:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uruns](
	[Urunid] [int] IDENTITY(1,1) NOT NULL,
	[UrunAd] [varchar](30) NULL,
	[Marka] [varchar](30) NULL,
	[Stok] [smallint] NOT NULL,
	[AlisFiyat] [decimal](18, 2) NOT NULL,
	[SatisFiyat] [decimal](18, 2) NOT NULL,
	[Durum] [bit] NOT NULL,
	[UrunGorsel] [varchar](250) NULL,
	[Kategoriid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Uruns] PRIMARY KEY CLUSTERED 
(
	[Urunid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (1, N'a', N'1', N'A')
INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (2, N'b', N'1', N'B')
INSERT [dbo].[Admins] ([Adminid], [KullaniciAd], [Sifre], [Yetki]) VALUES (3, N'c', N'1', N'C')
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Carilers] ON 

INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [Mail], [Durum], [CariSifre]) VALUES (1, N'Ali', N'Kara', N'Antalya', N'deneme@gmail.com', 1, N'1')
INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [Mail], [Durum], [CariSifre]) VALUES (2, N'Selin', N'Yılmaz', N'Ankara', N'deneme2@gmail.com', 1, N'1')
INSERT [dbo].[Carilers] ([Cariid], [CariAd], [CariSoyad], [CariSehir], [Mail], [Durum], [CariSifre]) VALUES (3, N'Ayşe', N'Koç', N'Bursa', N'deneme3@gmail.com', 1, N'1')
SET IDENTITY_INSERT [dbo].[Carilers] OFF
SET IDENTITY_INSERT [dbo].[Departmen] ON 

INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (1, N'aa', 0)
INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (2, N'bb', 0)
INSERT [dbo].[Departmen] ([Departmanid], [DepartmanAd], [Durum]) VALUES (3, N'cc', 0)
SET IDENTITY_INSERT [dbo].[Departmen] OFF
SET IDENTITY_INSERT [dbo].[Detays] ON 

INSERT [dbo].[Detays] ([DetayID], [urunad], [urunbilgi]) VALUES (1, N'Buzdolabı', N'Evde kullanılmak amacıyla 1913 yılında Chicago''da yapıldı. Domelre marka bu buzdolabı, elektrikle çalışıyordu. Ahşap gövdesinin üzerinde kompresör tipi bir soğutucu vardı. Ev tipi ilk buzdolabı, 1913 yılında ABD''nin Chicago kentinde üretildi. Gövdesi ahşaptan yapılan bu buzdolabının soğutucu mekanizması, dolabın tavanına konmuştu ve neredeyse yarısı kadardı.')
SET IDENTITY_INSERT [dbo].[Detays] OFF
SET IDENTITY_INSERT [dbo].[FaturaKalems] ON 

INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (1, N'Buzdolabı', 1, CAST(2850.00 AS Decimal(18, 2)), CAST(2850.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (4, N'L koltuk', 1, CAST(3000.00 AS Decimal(18, 2)), CAST(3000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[FaturaKalems] ([FaturaKalemid], [Aciklama], [Miktar], [BirimFiyat], [Tutar], [Faturaid]) VALUES (5, N'Tablet', 1, CAST(2000.00 AS Decimal(18, 2)), CAST(2000.00 AS Decimal(18, 2)), 2)
SET IDENTITY_INSERT [dbo].[FaturaKalems] OFF
SET IDENTITY_INSERT [dbo].[Faturalars] ON 

INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSiraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (1, N'A', N'200000', CAST(N'2021-04-20T00:00:00.000' AS DateTime), N'Küçükçekmece', N'14:00   ', N'Hüsnü Kara', N'Salih Özer', CAST(10850.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSiraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (2, N'C', N'222211', CAST(N'2021-02-10T00:00:00.000' AS DateTime), N'Beykoz', N'16.00   ', N'Sami Şanlı', N'Ayşe Kılıç', CAST(6250.00 AS Decimal(18, 2)))
INSERT [dbo].[Faturalars] ([Faturaid], [FaturaSeriNo], [FaturaSiraNo], [Tarih], [VergiDairesi], [Saat], [TeslimEden], [TeslimAlan], [Toplam]) VALUES (3, N'C', N'123456', CAST(N'2021-02-12T00:00:00.000' AS DateTime), N'Beykoz', N'13:00   ', N'Koray Yılmaz', N'Sabri İnan', CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Faturalars] OFF
SET IDENTITY_INSERT [dbo].[KargoDetays] ON 

INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (1, N'1 Adet buzdolabı alındı', N'ASD789456', N'Orhun Yıldız', N'Büşra Balta', CAST(N'2021-04-11T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (5, N'test', N'215A18D54B', N'Hamit Aslan', N'Hale Duran', CAST(N'2021-04-10T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoDetays] ([KargoDetayid], [Aciklama], [TakipKodu], [Personel], [Alici], [Tarih]) VALUES (6, N'test', N'446C20B11A', N'Aslı Kılıç', N'Ali Anamur', CAST(N'2021-03-18T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoDetays] OFF
SET IDENTITY_INSERT [dbo].[KargoTakips] ON 

INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (1, N'ASD789456', N'Ürün kargoya verildi', CAST(N'2021-04-29T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (2, N'ASD789456', N'Kargo İstanbul aktarmada', CAST(N'2021-04-30T00:00:00.000' AS DateTime))
INSERT [dbo].[KargoTakips] ([KargoTakipid], [TakipKodu], [Aciklama], [TarihZaman]) VALUES (4, N'ASD789456', N'Müşteriye teslim edildi', CAST(N'2021-05-02T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[KargoTakips] OFF
SET IDENTITY_INSERT [dbo].[Kategoris] ON 

INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (1, N'beyaz eşya')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (2, N'telefon')
INSERT [dbo].[Kategoris] ([KategoriID], [KategoriAd]) VALUES (3, N'küçük ev aleti')
SET IDENTITY_INSERT [dbo].[Kategoris] OFF
SET IDENTITY_INSERT [dbo].[Personels] ON 

INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (2, N'Ahmet', N'Şanlı', N'/Image/aaaaaaa.jpg.jpg', 4)
INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (3, N'Ali', N'Yılmaz', N'/Image/bbbbbb.jpg.jpg', 4)
INSERT [dbo].[Personels] ([Personelid], [PersonelAd], [PersonelSoyad], [PersonelGorsel], [Departmanid]) VALUES (4, N'hüseyin', N'kara', N'/Image/cccccc.jpg.jpg', 12)
SET IDENTITY_INSERT [dbo].[Personels] OFF
SET IDENTITY_INSERT [dbo].[SatisHarekets] ON 

INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (3, CAST(N'2021-04-20T00:00:00.000' AS DateTime), 1, CAST(4000.00 AS Decimal(18, 2)), CAST(4000.00 AS Decimal(18, 2)), 3, 2, 4)
INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (5, CAST(N'2021-04-14T00:00:00.000' AS DateTime), 3, CAST(2500.00 AS Decimal(18, 2)), CAST(2500.00 AS Decimal(18, 2)), 2, 3, 5)
INSERT [dbo].[SatisHarekets] ([Satisid], [Tarih], [Adet], [Fiyat], [ToplamTutar], [Cariid], [Personelid], [Urunid]) VALUES (6, CAST(N'2021-03-12T00:00:00.000' AS DateTime), 2, CAST(40.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(18, 2)), 2, 4, 6)
SET IDENTITY_INSERT [dbo].[SatisHarekets] OFF
INSERT [dbo].[TABLO1] ([STOK]) VALUES (9)
SET IDENTITY_INSERT [dbo].[Uruns] ON 

INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (4, N'Buzdolabı', N'Bosch', 98, CAST(2600.00 AS Decimal(18, 2)), CAST(2850.00 AS Decimal(18, 2)), 1, N'/Image/eeee.png.png', 1)
INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (5, N'Çamaşır Makinesi', N'Arçelik', 45, CAST(2000.00 AS Decimal(18, 2)), CAST(2250.00 AS Decimal(18, 2)), 1, N'/Image/fffff.jpg.jpg', 1)
INSERT [dbo].[Uruns] ([Urunid], [UrunAd], [Marka], [Stok], [AlisFiyat], [SatisFiyat], [Durum], [UrunGorsel], [Kategoriid]) VALUES (6, N'Laptop', N'Lenovo', 22, CAST(4500.00 AS Decimal(18, 2)), CAST(4900.00 AS Decimal(18, 2)), 1, N'https://market.miuiturkiye.net/image/catalog/10000%202.%20Nesil/pro-hd-2/laptop-xiaomi-mi-air-13-3-a38511d3d-gl_.jpg', 4)
SET IDENTITY_INSERT [dbo].[Uruns] OFF
/****** Object:  Index [IX_Faturaid]    Script Date: 22.05.2021 22:30:05 ******/
CREATE NONCLUSTERED INDEX [IX_Faturaid] ON [dbo].[FaturaKalems]
(
	[Faturaid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Departmanid]    Script Date: 22.05.2021 22:30:05 ******/
CREATE NONCLUSTERED INDEX [IX_Departmanid] ON [dbo].[Personels]
(
	[Departmanid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cariid]    Script Date: 22.05.2021 22:30:05 ******/
CREATE NONCLUSTERED INDEX [IX_Cariid] ON [dbo].[SatisHarekets]
(
	[Cariid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Personelid]    Script Date: 22.05.2021 22:30:05 ******/
CREATE NONCLUSTERED INDEX [IX_Personelid] ON [dbo].[SatisHarekets]
(
	[Personelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Urunid]    Script Date: 22.05.2021 22:30:05 ******/
CREATE NONCLUSTERED INDEX [IX_Urunid] ON [dbo].[SatisHarekets]
(
	[Urunid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Kategoriid]    Script Date: 22.05.2021 22:30:05 ******/
CREATE NONCLUSTERED INDEX [IX_Kategoriid] ON [dbo].[Uruns]
(
	[Kategoriid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carilers] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Departmen] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Faturalars] ADD  CONSTRAINT [DF__Faturalar__Topla__73BA3083]  DEFAULT ((0)) FOR [Toplam]
GO
ALTER TABLE [dbo].[FaturaKalems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_Faturaid] FOREIGN KEY([Faturaid])
REFERENCES [dbo].[Faturalars] ([Faturaid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FaturaKalems] CHECK CONSTRAINT [FK_dbo.FaturaKalems_dbo.Faturalars_Faturaid]
GO
ALTER TABLE [dbo].[Personels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personels_dbo.Departmen_Departmanid] FOREIGN KEY([Departmanid])
REFERENCES [dbo].[Departmen] ([Departmanid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Personels] CHECK CONSTRAINT [FK_dbo.Personels_dbo.Departmen_Departmanid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_Cariid] FOREIGN KEY([Cariid])
REFERENCES [dbo].[Carilers] ([Cariid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Carilers_Cariid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_Personelid] FOREIGN KEY([Personelid])
REFERENCES [dbo].[Personels] ([Personelid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Personels_Personelid]
GO
ALTER TABLE [dbo].[SatisHarekets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_Urunid] FOREIGN KEY([Urunid])
REFERENCES [dbo].[Uruns] ([Urunid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SatisHarekets] CHECK CONSTRAINT [FK_dbo.SatisHarekets_dbo.Uruns_Urunid]
GO
ALTER TABLE [dbo].[Uruns]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_Kategoriid] FOREIGN KEY([Kategoriid])
REFERENCES [dbo].[Kategoris] ([KategoriID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Uruns] CHECK CONSTRAINT [FK_dbo.Uruns_dbo.Kategoris_Kategoriid]
GO
USE [master]
GO
