@*kategoriler view sayfası*@

@using bitirme.Models.Siniflar
@using PagedList
@using PagedList.Mvc
@*Burada bir model oluşturacağız, bir pagedlist oluşturup bu sayfada çağıracağım sınıfı yazıyorum*@
@model PagedList.IPagedList<Kategori>

@{
    ViewBag.Title = "Index";
Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        @*<th>ID</th>*@
        <th>KATEGORİ ADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var k in Model)
    {

        <tr>
            @*<td>
                @k.KategoriID
            </td>*@
            <td>
                @k.KategoriAd
            </td>
            <td><a href="/Kategori/KategoriSil/@k.KategoriID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Kategori/KategoriGetir/@k.KategoriID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
    @*Bir döngü oluşturdum. Bu döngü k isminde bir değişken içeriyor. Bu k modele bağlı. Model ise kategoriye bağlı. Kategori ise
        KategoriController tarafındaki metoda bağlı.*@
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa}))
<br />
<a href="/Kategori/KategoriEkle" class="btn btn-primary">Kategori ekle</a>
<br />



